NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql url

JWT_SECRET=super_secret_pinpoint_jwt_key_2026
JWT_EXPIRES_IN=24h
JWT_REFRESH_SECRET=super_secret_pinpoint_refresh_key_2026
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=*

REDIS_URL=redis://localhost:6379

GEMINI_API_KEY=your_gcp_key_here
